.login-form {
  margin: 0 auto;
  max-width: 55rem;
  background-color: $main-color;
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 5rem 7rem;
  // border-radius: 5px;
  h3 {
    padding: 4rem 0;
    color: $gray-shade;
    font-weight: 700;
  }
}
.form {
  &__input {
    display: block;
    font-family: inherit;
    font-size: 1.5rem;
    color: inherit;
    padding: 1.25rem 1.75rem;
    border: none;
    width: 100%;

    background-color: $main-shade;
    // border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transition: all 0.3s;
    border-radius: 4px;
    box-sizing: border-box;
    /* Pseudo element (a visible thing that isn't really in the DOM).
        Also needs -ms- */
    &:focus {
      outline: none;
      border-bottom: 3px solid #55c57a;
      &:invalid {
        border-bottom: 3px solid orangered;
      }
    }
    &::-webkit-input-placeholder {
      color: #bbb;
    }
  }
  &__group:not(:last-child) {
    margin-bottom: 2.5rem;
  }
  &__label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: $gray-color;
  }
  &__upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    &::focus + label {
      outline: 3px solid #55c57a;
      outline-offset: 3px;
    }
    & + label {
      color: #55c57a;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid #55c57a;
      padding: 3px;
      transition: all 0.2s;
      cursor: pointer;
      &:hover {
        background-color: #55c57a;
        color: #fff;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
        transform: translateY(-2px);
      }
    }
  }
  button.btn {
    margin-top: 6.4rem;
    background-color: $gray-shade;
    color: $main-shade;
  }
}
