$main-shade: #fcfbf9;
$main-color: #dfd3c3;
$main-shade2: #a98863;
$main-shade3: #a17e75;
$second-color: #67403d;
$third-color: #381c18;
$gray-color: #251f1f;
$gray-shade: #575555;
$dark-color: #180e0d;
$fourth-color: #938ba1;
